<body>
<div class="wrapper">
  <div class="admins-sign-in">
    <div class="sign-in-wrapper">
      <h1>WDI Onboarding</h1>
      <h2>Admins Login</h2>

      <div class="admins-sign-in-form"><%= render "admins/sessions/admin_signin" %></div>
    </div>
  </div>
</div>
</body>
