<h1>Admins page</h1>

<p>This page has forms/interfaces that allow admins to add students, email group, make announcements, and edit checklists.</p>

<%= link_to "Sign-out", destroy_admin_session_path, method: :delete %>

<%= link_to "Send invite", new_admin_invitation_path %>
