<h1> Welcome to On Boarding</h1>

<p> This page should have some content about our site</p>

<span class="sign-in-btn">Sign In</span>

<div class="user-sign-in-form"><%= render "users/sessions/user_signin" %></div>

