<div class="cover">
<div class="cover-content-wrapper">

  <span class="logo"><%= image_tag "nycdalogo.png" %></span>

  <h1><span class="fadeIn"><b>WDI</b></span>  <span class="reveal">SEPT &#39; 14</span></h1>

  <span class="sign-in-btn">Sign In</span>

  <div class="user-sign-in-form"><%= render "users/sessions/user_signin" %></div>
</div>
</div>
</div>
