<p>User's index: perhaps this can have a list of all students, announcements, the countdown, the feed..</p>

  <p><%= @announcement %></p>

<h1>Welcome: <%= current_user.fname %></h1>

<h3>List of All WDI Students:</h3>
<% @users.each do |user| %>
  <%= link_to user.fname, show_user_path(user) %>
<% end %>

