<p>Project Index</p>
<p>This should list all projects</p>

<% @projects.each do |project| %>
  
  <p><%= project.title %><p>
  <p><%= link_to project.project_url %></p>
  <p>Submitted by: <%= project.user.fname %></p>

<% end %>