.user-sign-in-form {
  display: none;
  width: 53%;
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 20px;
  border-radius: 4px;
  background: rgba(237, 236, 230, 1);
}

#user-password {
  margin-bottom: 10px;
}

.email-input,
.password-input {
  width: 400px;
  height: 30px;
  margin-bottom: 20px;
}

.description {
  width: 425px;
  border: 1px inset;
}

.upload-form {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
  text-align: left;
}

.form-control {
  height: 30px;
}

.upload {
  text-align: center;
}
