// font: 
$font-stack: 'Source Sans Pro', sans-serif;
// League Gothic
// Sanchez

// color:
$turquoise: #5DBCD2;
$red-orange: #E7542C;
$aquamarine: #399892;
$light-yellow: #FDFEE3;
$dark-gray: #454442;