input[type=textarea] {
  width: 410px;
  height: 120px;
}

input[type=text] {
  width: 350px;
}

// Admins sign-in page
h1 {
  text-align: center;
}

.admins-sign-in {
  width: 100%;
  height: 100vh;
  display: table;
  vertical-align: middle;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;


}

.sign-in-wrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
}

.logs {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}

.log-in {
  text-align: center;
}

.admins-sign-in {
  vertical-align: middle;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
}

.admins-sign-in-form {
  width:50%;
  margin-left: 300px;
  text-align: center;
  padding: 40px 0px;
  background-color: rgba(93, 188, 210, .2);
}

// Admins dashboard
a {
  color: $turquoise;
}

.announcements-form {
  font-size: $normal;
  width: 50%;
  float: right;
}

.announcement-board {
  background-color: rgba(200, 200, 200, .2);
}

.checklist {
  width: 45%;
  float: left;
}

.students-list {
  clear: both;
}

#done-announcement-btn {
  display:none
}

.edit-announcement {
  display:none
}

#done-checklist-btn {
  display:none
}

.edit-checklist {
  display:none
}

.delete {
  font-size: 12px;
}

li {
  list-style: none;
}
