input[type=textarea] {
  width: 410px;
  height: 120px;
}

input[type=text] {
  width: 350px;
}

// Admins sign-in page
h1 {
  text-align: center;
}

.admins-sign-in {
  width: 100%;
  height: 100vh;
  display: table;
}

.sign-in-wrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
}

.log-in {
  text-align: center;
}

.admins-sign-in {
  vertical-align: middle;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
}

a {
  color: $turquoise;
}

.announcements {
  font-size: $normal;
  width: 50%;
  float: left;
}

.checklist {
  width: 45%;
  float: right;
}

.students-list {
  clear: both;
}

#done-announcement-btn {
  display:none
}

.edit-announcement {
  display:none
}

#done-checklist-btn {
  display:none
}

.edit-checklist {
  display:none
}

.delete {
  font-size: 8px;
}

li {
  list-style: none;
}
