.announcements {
  font-size: $normal;
  width: 50%;
  float: left;
}

.checklist {
  width: 45%;
  float: right;
}

.students-list {
  clear: both;
}

#done-announcement-btn {
  display:none
}

.edit-announcement {
  display:none
}

#done-checklist-btn {
  display:none
}

.edit-checklist {
  display:none
}

li {
  list-style: none;
}
