.invitation-form {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  float: left:
}

.email-sent {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  float: left:
}

.accepted-invite {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  float: left;
}
