.col-4 {
  width: 33.33333%;
}

.hex-1, 
.hex-2, 
.hex-3 {
  width: 190px;
  height: 110px;
  background-color: $turquoise;
  display: inline-block;
  position: absolute;
}

.hex-2 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hex-3 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.row {  
  .hex-1, 
  .hex-2, 
  .hex-3 {
    left: 0px;
  }
}

.text {
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  width: 190px;
  font-size: 2em;
  text-align: center;

  a {
    color: #fff;
  }
}

.hex-container {
  left: 215px;
  position: relative;
  display: none;
}

.hex-container2 {
  left: 194px;
  position: relative;
  display: none;
}

