.col-4 {
  width: 33.33333%;
}

.hex-title {
  text-align: center;
}

.hex-section {
  position: absolute;

  &:nth-of-type(1) {
    top: 100px;
  }

  &:nth-of-type(2) {
    top: 274px;
  }

  &:nth-of-type(3) {
    top: 448px;
  }
}

.hex-1, 
.hex-2, 
.hex-3 {
  width: 190px;
  height: 110px;
  background-color: $turquoise;
  display: inline-block;
  position: absolute;
}

.hex-2 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hex-3 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.row {  
  .hex-1, 
  .hex-2, 
  .hex-3 {
    left: 0px;
  }
}

.text {
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  width: 190px;
  font-size: 2em;
  text-align: center;

  a {
    color: #fff;
    
    &:hover {
      color: $light-yellow;
    }
  }
}

.hex-container-1, .hex-container-3 {
  position: relative;
  display: none;

  &:nth-of-type(1) {
    left: 100px;
  }

  &:nth-of-type(2) {
    left: 300px;
  }

  &:nth-of-type(3) {
    left: 500px;
  }

  &:nth-of-type(4) {
    left: 700px;
  }
}

.hex-container-2 {
  position: relative;
  display: none;

  &:nth-of-type(1) {
    left: 0px;
  }

  &:nth-of-type(2) {
    left: 200px;
  }
  
  &:nth-of-type(3) {
    left: 400px;
  }

  &:nth-of-type(4) {
    left: 600px;
  }

  &:nth-of-type(5) {
    left: 800px;
  }
}