.index-wrapper {
  width: 100%;
}

.announcements {
  font-size: 3em;
  text-align: center;
  width: 100%;
  background-color: #EFEFEF;
}

.hex-title {
  text-align: center;
}

.hex-section {
  margin-top: 100px;
  margin-bottom: 315px;
}


