.index-wrapper {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

.announcements {
  font-size: 2em;
  margin-bottom: -5px;
  margin-top: 0;
  text-align: center;
  color: $dark-gray;
}

.tweets {
  text-align: center;
  padding: 5px;
  background: $turquoise;

  a {
    color: #E6F2F5;
  }
}

.tweet {
  margin-left: 20px;
}
