// sign-in page
.cover {
  width: 100%;
  height: 100vh;
  display: table;
  background-color: rgba(93, 188, 210, .4);
}

.cover-content-wrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 50em;
  box-sizing: border-box;
}

.logo {
  width: 650px;
  -webkit-animation-name: bounceInDown;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  display: inline-block;
  max-width: 50%;
  box-sizing: border-box;
}

@-webkit-keyframes bounceInDown {
  0% { 
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px)
  }
  60% {
    opacity:1;
    -webkit-transform: translateY(1em);
    transform: translateY(1em)
  }
  80% {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 4.5em;
  color: #222;
  line-height: 1;
  text-transform: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

.reveal {
  -webkit-animation-name: reveal;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1.11s;
  display: inline-block;
  text-indent: -20em;
  box-sizing: border-box;
  font-weight: 300;
  line-height: 1;
  font-size: 2.5em;
  color: #222;
}

@-webkit-keyframes reveal {
  0% {
    text-indent: -20em;
    opacity: 0
  }
  50% {
    text-indent: 0;
    opacity: 1;
  }
  100% {
    text-indent: 0;
    opacity: 1
  }
}

// profile show page:

.username {
  text-align: left;
}

.column {
  display: inline-block;
  vertical-align: top;

  &.left {
    width: 30%;
    // background-color: lightgrey;
  }

  &.right {
    // background-color: lightgrey;
    width: 64%;
    margin-left: 5%;
  }
}



.edit-container {
  display: none;

  .icon {
    font-size: $small;
  }
}

.social-icon {
  font-size: 2em;
}

.bip {
  margin-left: 20px;
}


.checklist-container {
  // border: 1px solid #AAA;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 5px;
  // background-color: rgba(253, 254, 227, 0.3);
  // background-color: rgba(231, 83, 44, 0.9);
  padding: 20px;

  li {
    list-style: none;
    vertical-align: middle;
  }
}

.projects-container {
  border-radius: 4px;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 20px;
  margin-bottom: 30px;
}

.check-btn {
  padding-right: 10px;
}

.item {
  height: 30px;
  text-align: left;
}

.checked-line-item {
  height: 30px;
  text-align: left;
  font-size: $normal;
  background-color: rgba(231, 83, 44, .4);
}

// users sign-up page

.sign-up {
  background-image: url("nyctower.png");
}

.sign-up-content {
  vertical-align: middle;
  padding: 0 1em;
  margin: 0 auto;
  color: #FFF;
}

.profile-form {
  width: 40%;
  float: left;
  margin-left: 85px;
}

.password-form {
  width: 40%;
  float: right;
  margin-top: 73px;
}

.profile-image{
  width: 80%;
  text-align: center;
}

.edit-wrapper {
  width: 100%;
  text-align: right;
  margin-right: 20px;
}

// invite page
.invite-header {
  width: 100%;
  height: 140px;
}

.invitation-form {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  float: left;
}

.email-header {
  margin-left: 39px;
}

.email-sent {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  float: left;
}

.accepted-invite {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  float: left;
}

// edit user account page

.account-form {
  width: 45%;
  float: left;
}

.profile-form {
  width: 45%;
  float: right;
}

.delete-form {
  clear: both;
}

#user_current_password {
  margin-bottom: 10px;
}

#user_linkedin_username {
  margin-bottom: 10px;
}
