.index-wrapper {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

.announcements {
  font-size: 2em;
  margin-bottom: -5px;
  margin-top: 0;
  text-align: center;
  color: $dark-gray;
}

.tweets {
  text-align: center;
  padding: 5px;
  background-color: rgba(200, 200, 200, 0.2);

  a {
    color: $turquoise;
  }
}

.tweet {
  margin-left: 20px;

  #fa-tweet {
    font-size: 22px;
  }
}
